.card-about {
  height: 100%;
}

mat-card-title {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-size: 2rem;
  padding: 10px;
  margin-top: 10px;
}

mat-card-subtitle {
  font-family: "Comic Neue", cursive;
  font-size: 0.875rem;
  padding: 10px;
}



