a {
  color: #fff;
  text-decoration: none;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-size: 1.4rem;

  button {
    color: #fff;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-size: 1.3rem;
  }

  button:hover {
    color: #B1AFFF;
  }
}

a:hover {
  color: #B1AFFF;
}

