.container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  column-gap: 10px;
  row-gap: 15px;
  justify-content: center;

  a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }

  .post-card {
    background: #444;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 120%;

    img {
      height: 300px;
    }
    
    p.content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

mat-card-title a {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  text-align: center;
}
